body {
  background: var(--background);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-expo {
  position: relative;
  margin-top: 5%;
}

.img-expo::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1; 
}

.img-expo .image-text {
  position: absolute;
  z-index: 1; 
  color: white;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-expo img{
  width: 100%;
  display: block;
}

.image-text{
  font-family: var(--font-baskervville);
  font-size: var(--text-image);
  mix-blend-mode: overlay;
}

.mise-en-forme{
  font-family: var(--font-baskervville);
  line-height: 150%;
  text-align: center;
}

.mise-en-forme p{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: justify;
}

.YT img{
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 10px;
}

main p{
  font-size: 14px;
  font-family: var(--font-baskervville);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: justify;
  font-weight: 400;
}

.sous-titre{
  font-size: 20px;
  font-family: var(--font-merriweather);
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.titre{
  font-size: 30px;
  font-family: var(--font-merriweather);
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;    
}

.aligne p{
  align-items: center;
  text-align: center;
  font-size: 10px;
  font-family: var(--font-mulish);
  font-weight: 200;
  line-height: 16px;
  display: block;
  flex-direction: column;
  margin-top: -5px;
  margin-bottom: 10px;
}

.aligne img{
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

p3{
  font-size: 14px;
  font-family: var(--font-baskervville);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: justify;
  font-weight: 400;
}

.VS img{
  width: 360px;
}

.filmo img{
  width: 200px;
  display: block;
  margin: auto;
}

.sous-titre2 {
  position: relative;
}
.sous-titre2 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}