body {
  background: var(--background);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-expo {
  position: relative;
  margin-top: 5%;
}

.img-expo::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1; 
}

.img-expo .image-text {
  position: absolute;
  z-index: 1; 
  color: white;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-expo img{
  width: 100%;
  display: block;
}

.image-text{
  font-family: var(--font-baskervville);
  font-size: var(--text-image);
  mix-blend-mode: overlay;
}

.mise-en-forme{
  font-family: var(--font-baskervville);
  line-height: 150%;
  text-align: center;
}

.mise-en-forme p{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: justify;
}

