:root {
  /* Color styles */
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --background: linear-gradient(180deg, #B0F2B6 0%, #79D2E6 16.56%, #8FDFD3 66.04%, #B0F2B6 83.75%);

  /* Typography */
  --font-baskervville: 'Baskervville', serif;
  --font-mulish: 'Mulish', sans-serif;

  /*Size-font*/

  --text-image: 140%;
  --text-menu: 150%;

  /*font-weight*/
  --text-img: 400;
}