.logo_footer{
    align-items: center;
    display: flex;
    width: 90%;
    margin-top: 10%;
    transform: translate(25%, 0%)
}

.reseaux{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.reseaux img{
    margin-right: 5%;
}

.reseaux p{
    margin-right: 5%;
    margin-left: 5%;
}

.footer{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.footer p{
    margin-top: 5%;
}

footer a{
    text-decoration: none;
    color: var(--black);
}