.logo{
    width: 10%;
    right: 0;
    position: absolute;
    margin-right: 1%;
    margin-top: 1%;
}

.burger{
    width: 100%;
    margin-top: 25%;
    margin-left: 20%;
}
.header_menuBtn {
    width: 10%;
    height: 10%;
    color: white;
    background-color: transparent;
    border: none;
    fill: white;
    margin-top: 1%;
    margin-left: 1%;
}
