header img{
    width: 10%;
    right: 0;
    position: absolute;
    margin-right: 1%;
    margin-top: 1%;
}

.header__menuBtn {
    width: 10%;
    height: 10%;
    color: white;
    background-color: transparent;
    border: none;
    fill: white;
    margin-top: 1%;
    margin-left: 1%;
  }