.article{
  position: relative;
  width: 90%;
  mix-blend-mode: multiply;
  filter: blur(2px);
  margin-top: 5%;
}

.meme h2{
  position: absolute;
  top:auto;
  transform: translate(-0%, -725%);
  text-align: center;
  font-family: var(--font-baskervville);
  line-height: 150%;
  mix-blend-mode: screen;
  font-style: normal;
  color: var(--white);
  font-size: var(--text-image);
  line-height: 150%;
  font-weight: var(--text-img);
}
.meme h3{
  position: absolute;
  top:auto;
  transform: translate(-0%, -0%);
  text-align: center;
  font-family: var(--font-baskervville);
  line-height: 150%;
  mix-blend-mode: screen;
  font-style: normal;
  color: var(--white);
  font-size: var(--text-image);
  line-height: 150%;
  font-weight: var(--text-img);
}
.meme h4{
  position: absolute;
  top:auto;
  transform: translate(-0%, 725%);
  text-align: center;
  font-family: var(--font-baskervville);
  line-height: 150%;
  mix-blend-mode: screen;
  font-style: normal;
  color: var(--white);
  font-size: var(--text-image);
  line-height: 150%;
  font-weight: var(--text-img);
}

.meme {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

