.menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--background);
  display: grid;
  place-content: center;
  z-index: 2;
  margin: auto;
}

.menu ul{
  margin-bottom: 100%;
  text-align: center;
}
.menu ul li{
  list-style: none;
  margin-top: 90%;
}
.menu ul li a{
  text-decoration: none;
  color: white;
  font-family: var(--font-baskervville);
  font-size: var(--text-menu);
}

.close{
  width: 8%;
  left: 0;
  top: 0;
  margin-left: 1%;
  margin-top: 1%;
  z-index: 8;
  position: fixed;
  display: grid;
}

.burger, .close {
  transition: all 0.3s ease-in-out;
}

.menu-open .burger {
  transform: rotate(45deg) translate(5px, 5px);
  opacity: 0;
}
.menu-open .close {
  transform: rotate(90deg) translate(5px, -5px);
  opacity: 1;
}
.menu-close .burger {
  transform: rotate(0deg) translate(0px, 0px);
  opacity: 1;
}
.menu-close .close {
  transform: rotate(0deg) translate(0px, 0px);
  opacity: 0;
}
.close-open {
  transform: rotate(45deg);
}
.close-close {
  transform: rotate(0deg);
}